/*--------------- E V E R Y T H I N G ---------------*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

/*------------------ H E A D E R ------------------*/
header {
  background-color: #502419;
  color: #fff;
  padding-bottom: 0.5rem;
  position: relative;
}

header #header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

header div section h1 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

header div section h2 {
  font-size: 1rem;
}

header div#date {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,0.5);
  width: 90vw;
  margin: 1rem auto;
  background-color: rgba(0,0,0,0.5);
}

header div img#logo {
  width: 75px;
  height: 75px;
}

header div.medialinks {
  font-size: 2rem;

}

a:visited {
  color: black;
}

/*---------------------- N A V I G A T I O N ----------------------*/
nav ul {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.6);
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  color: #fff;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:link {
  color: white;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

nav ul { display: none; }
nav ul.open { display: block; }

#hamburgerBtn span:nth-child(1) { display: block; }
#hamburgerBtn span:nth-child(2) { display: none; }

#hamburgerBtn.open span:nth-child(1) { display: none; }
#hamburgerBtn.open span:nth-child(2) { display: block; }



/*------------------------ F O O T E R ------------------------*/
footer {
  text-align: center;
  background-color: #502419;
  color: #fff;
  display: flex;
  flex-direction: column;

}

footer .footer-title {
  font-size: 1.25rem;
}

footer .contactinfo > * {
  padding: 0.25rem;
}

footer .contactinfo {
  padding: 0.25rem;
}

footer picture img {
  width: 160px;
  height: 170px;
  padding: 0.5rem;
  padding-top: 0.75rem;
}

footer .moreinfo {
  border-top: 1px solid #999;
  width: 75vw;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0.5rem;
}



/*------------------------- B O D Y -------------------------*/

main .size1 {
  background-color: #626c66;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

main .size2 {
  background-color: #626c66;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0;
}

main .spotlight {
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(0,0,0,0.5);
}

main .join {
  display: none;
}

main .hero {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main .splt3 {
  display: none;
}

main .event {
  background-color: #626c66;

}

main img {
  max-width: 100%;
}

main .hero-sec {
  position: relative;
  overflow: hidden;
  /* border-radius: 5px 5px 5px 5px; */
}

main .overlay {
  background-color: #d45113;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding: 0.75rem 2rem;
  display: block;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -5px -5px 5px rgba(0,0,0,0.5);
}

main .overlay, 
main .join-div {
  color: black;
}

div.chamber-meeting {
  background-color: #d45113;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  padding: 1rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.overlay,
.join-div {
  font-family: 'Merienda', cursive;
}

p, 
li {
  font-family: 'Luxurious Roman', cursive;
}



/*------------------------ C L E A R  F I X ------------------------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




/*------------------------- D I S C O V E R -------------------------*/


/*------------------ M A I N ------------------*/
main.discover {
  display: flex;
  flex-direction: column;
}

main.discover h2 {
  text-align: center;
  padding: 0.75rem;
}

main.discover p {
  font-weight: 600;
}

main.discover .places {
  margin: 1rem auto;
}

main.discover div picture img[data-src] {
  width: 640px;
  height: 427px;
  filter: blur(0.2em);
}

main.discover div picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}

main.discover h2,
main.discover p,
main.discover span {
  color: black;
}