/* E V E R Y T H I N G */
* {
  margin: 0;
  padding: 0;
}

/* H E A D E R */
header {
  background-color: #502419;
  color: #fff;
  padding-bottom: 0.5rem;
  position: relative;
}

header #header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}

header div section h2 {
  font-size: 1rem;
}

header div#date {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,0.5);
  width: 90vw;
  margin: 1rem auto;
  background-color: rgba(0,0,0,0.5);
}

header div img#logo {
  width: 75px;
}

header div.medialinks {
  font-size: 1.5rem;
}

a:visited {
  color: white;
}

/* N A V I G A T I O N */
nav ul {
  list-style-type: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: 1px solid rgba(0,0,0,0.6);
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  color: #fff;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul { display: none; }
nav ul.open { display: block; }

#hamburgerBtn span:nth-child(1) { display: block; }
#hamburgerBtn span:nth-child(2) { display: none; }

#hamburgerBtn.open span:nth-child(1) { display: none; }
#hamburgerBtn.open span:nth-child(2) { display: block; }

/* F O O T E R */
footer {
  text-align: center;
  background-color: #502419;
  color: #fff;
}

footer section {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

footer section > * {
  padding: 0.5rem;
}

footer div {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-top: 2px solid #fff;
}

footer div > * {
  padding: 0.5rem;
}

/* B O D Y */
main .size1 {
  background-color: #999;
  height: 100px;
  margin: 1rem auto;
  width: 90vw;
  padding: 0.5rem;
}