@media only screen and (min-width: 64rem) {

  nav button { display: none; }

  nav ul#primaryNav { 
    display: flex; 
    border-left: 1px solid rgba(0,0,0,0.3);
  }

  nav ul li a {
    padding: .5rem 1rem;
  } 

}