@media only screen and (min-width: 35rem) {
  
  header #headings {
    margin-bottom: 0.5rem;
  }

  #logo {
    margin: 0.5rem;
  }

  #medialinks {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: 80px;
  }

}